﻿@{
    ViewBag.Title = "Prova Front End - Felipe Gomes";
}

<div class="ui container">
    <div class="ui grid stackable middle aligned centered">
        <div class="row one column">
            <div class="column">
                <h1>Prova Front End - Felipe Gomes</h1>
            </div>
        </div>
    </div>
</div>
<div class="ui container">
    <div class="ui grid">
        <div class="eight wide column">
            <div class="ui segment">

                @using (Ajax.BeginForm("FrontEnd", "#", new AjaxOptions { HttpMethod = "POST" }, new { @class = "ui large form", @id = "formFrontEnd" })) 
                {                    
                    <div class="ui grid  very relaxed stackable middle aligned grid left aligned">
                        <div class="row one column">
                            <div class="column">
                                <div class="field required">
                                    <label>Nome</label>
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" maxlength="100" name="Name" placeholder="Nome" >
                                    </div>
                                </div>
                                <div class="field required">
                                    <label>E-mail</label>
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input type="text" maxlength="100" name="Email" placeholder="E-mail" >
                                    </div>
                                </div>
                                <div class="field required">
                                    <label>Telefone</label>
                                    <div class="ui left icon input">
                                        <i class="phone icon"></i>
                                        <input type="text" name="Phone"
                                                placeholder="(00) 00000-0000" class="masked mask_phone" >
                                    </div>
                                </div>   
                                <div class="field required">
                                    <label>Assunto</label>
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input type="text" maxlength="100" name="Subject" placeholder="Assunto" >
                                    </div>
                                </div>
                                <div class="field required">
                                    <label>Mensagem</label>
                                    <textarea maxlength="6000" name="Message"></textarea>
                                </div>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="column">
                                <a href="/Home" class="ui animated button large basic left floated form_refresh">
                                    <div class="visible content">Início</div>
                                    <div class="hidden content">
                                        <i class="arrow left icon"></i>
                                    </div>
                                </a>
                                <button id="submitFrontEnd" type="submit"
                                        class="ui animated button large submit primary right floated continuar"
                                        tabindex="0">
                                    <div class="visible content">Enviar</div>
                                    <div class="hidden content">
                                        <i class="send icon"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
        <div class="four wide column">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row one column">
                        <div class="column">
                            <h3>Dados formulário:</h3>
                            <p>Nome: <span id="Name_value"></span></p>
                            <p>E-mail: <span id="Email_value"></span></p>
                            <p>Telefone: <span id="Phone_value"></span></p>
                            <p>Assunto: <span id="Subject_value"></span></p>
                            <p>Mensagem: <span id="Message_value"></span></p>
                        </div>
                    </div> 
                </div> 
            </div> 
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row one column">
                        <div class="column">
                            <h3>Dados gravados na sessão:</h3>
                            <p>Nome: <span id="Name_session"></span></p>
                            <p>E-mail: <span id="Email_session"></span></p>
                            <p>Telefone: <span id="Phone_session"></span></p>
                            <p>Assunto: <span id="Subject_session"></span></p>
                            <p>Mensagem: <span id="Message_session"></span></p>
                            <button id="clearSessionProva" type="button" class="ui animated button large basic left floated form_refresh" >
                                <div class="visible content">Limpar sessão</div>
                                <div class="hidden content">
                                    <i class="trash alternate icon"></i>
                                </div>
                            </button>
                        </div>
                    </div>                                                   
                </div>
            </div>
        </div>
    </div>
</div>